.back-button {
    font-size: 1.5em;
    color:#3b71ca;
}

.btn {
    box-shadow: none!important;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay {
    position: relative;
}

.image-overlay img {
    max-width: 100%;
    height: auto;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.origPrice {
    margin-top: 1rem;
    text-decoration: line-through;
}
